<footer class="container my-4 ">
  <div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="align-items-start m-5">
        <h5 class="my-2 p-2 text-start ">Web</h5>
        <a class="my-2 p-2 nav-link" href="google.com">Oferta</a>
        <a class="my-2 p-2 nav-link" href="google.com">Inicio</a>
        <a class="my-2 p-2 nav-link" href="google.com">Productos</a>
      </div>

      <div class="align-items-start m-5">
        <h5 class="my-2 p-2 text-start">Empresa</h5>
        <a class="my-2 p-2 nav-link" href="google.com">Quienes Somos</a>
        <a class="my-2 p-2 nav-link" href="google.com">Trabaja con nosotros</a>
        <a class="my-2 p-2 nav-link" href="google.com">Contacto</a>
      </div>

      <div class="align-items-start m-5">
        <h5 class="my-2 p-2">Otros</h5>
        <a class="my-2 p-2 nav-link" href="google.com">Soporte</a>
        <a class="my-2 p-2 nav-link" href="google.com">Partners</a>
      </div>
    </div>
  </div>
  <hr />
  <p class="text-center my-4">2023 Pixels - Todos los derechos reservados</p>
</footer>
