footer{
    margin-top: 500px;
}

.footer-contenedor{
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-contenedor p, h2{

    color: #808080;

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 

}

.footer-contenedor a{

    text-decoration: none;
    color: inherit;
    font-weight: 0;
}

.selectores{

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 18px;
}

.selectores div{
    margin: 0px 81px 0 81px;
}

.selectores h2{

    margin-bottom: 0px;
    padding: 0px;
    font-size: 22px;
    
}

.derechos{

    margin-top: 32px;
    margin-bottom: 10px;
    font-size: 22px;
}
