<footer class="footer-contenedor">
    <div class="selectores">
        <div class="web">
            <h2>Web</h2>
            <p><a href="google.com">Oferta</a></p>
            <p><a href="google.com">Inicio</a></p>
            <p><a href="google.com">Productos</a></p>
        </div>

        <div class="empresa">
            <h2>Empresa</h2>
            <p><a href="google.com">Quienes Somos</a></p>
            <p><a href="google.com">Trabaja con nosotros</a></p>
            <p><a href="google.com">Contacto</a></p>
        </div>

        <div class="otros">
            <h2>Otros</h2>
            <p><a href="google.com">Soporte</a></p>
            <p><a href="google.com">Partners</a></p>
        </div>
    </div>

    <h2 class="derechos">2023 Pixels - Todos los derechos reservados</h2>
</footer>