<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Imagen del formulario -->
            <img src="./public/img/empleados.png" class="rounded w-100" alt="..." id="imagen-formulario">
        </div>
        <div class="col-md-6 bg-light">
            <!-- Formulario al lado de la imagen -->
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label" id="nombre">Nombre</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su Nombre">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label" id="apellido">Apellido</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Ingrese su apellido">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label" id="motivo">Motivo de contacto</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button" id="color-submit" onclick="enviar()">Enviar</button>
            </div>
        </div>
    </div>
</div>