<div class="product d-flex justify-content-center">
  <div class="card mb-3 mt-5 border-0" style="max-width: 1200px; height: 500px">
    <div class="row g-0">
      <div class="col-md-5">
        <img src="" alt="" srcset="" id="image" />
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title text-primary-emphasis fs-2" id="title">
            <!-- titulo -->
          </h5>

          <div id="star">
            <h6 class="px-star-color fs-3" id="star">
              <i class="bi bi-star-fill">
                <!-- estrellas de calificacion -->
              </i>
            </h6>
          </div>

          <p class="card-text fs-4" id="description">
            <!-- contenido del producto -->
          </p>

          <p class="card-text" id="stock">
            <small class="text-body-secondary">
              <!-- stock -->
            </small>
          </p>

          <h5 class="text-primary-emphasis fs-2" id="productPrice">
            <!-- precio -->
          </h5>

          <div class="btn-group" role="group">
            <div class="input-group mb-3">
              <input
                type="number"
                min="1"
                id="quantity"
                class="form-control"
                placeholder="Cantidad"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <button class="btn btn-outline-success" type="button" id="btn">
                Añadir al carro
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
