<div class="product d-flex justify-content-center ">    
    <div class="card mb-3 mt-5 border-0" style="max-width: 1200px; height: 500px;">
        <div class="row g-0">
            <div class="col-md-5">
                <img src="/pixels/src/core/page-scripts/get-products.js" type="module" class="img-fluid rounded-start" alt="memoria ram">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title text-primary-emphasis fs-2">MEMORIA RAM (DDR4) CORSAIR 16GB 2X8 3200MHZ </h5>

                    <h6 class="px-star-color fs-3"><i class="bi bi-star-fill"></i></h6>


                    <div class="contenido">
                    <p class="card-text fs-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Expedita, ex. Eius voluptatibus veniam odit, sed incidunt 
                        perspiciatis et id officia sint ipsum accusamus fugit nesciunt error magnam 
                        cum aliquid illum.Lorem ipsum dolor sit amet consectetur, adipisicing el</p>
                    <p class="card-text"><small class="text-body-secondary">Stock Disponible: 10</small></p>
                    </div>

                        <h5 class="text-primary-emphasis fs-2" id="productPrice">$19278</h5>
                    <div class="btn-group" role="group">
                        <div class="input-group mb-3">
                        <input type="number" min="1" id="quantity" class="form-control" placeholder="Cantidad" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-success" type="button" id="btn">Añadir al carro</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="price-product.js" type="module"></script>
<script src="product-big.component.js" type="module"></script>


