.my-stylo {
  border: solid 1px red;
}

.px-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b6c0c7;
  height: 300px;
}

.px-title {
  font-size: 75px;
  color: #ffffff;
}

.px-most-sold {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
