  <div class="bg-secondary">
      <h2 class="text-light text-center py-4">Nuestras marcas</h2>
      <div class="container d-flex p-4">
        <div class="justify-content-center  my-auto mx-auto">
          <img
            class="px-box shadow mx-2"
            src="https://logowik.com/content/uploads/images/amd-ryzen2321.jpg"
            alt=""
          />
          <img
            class="px-box shadow mx-2"
            src="https://logowik.com/content/uploads/images/amd-ryzen2321.jpg"
            alt=""
          />
          <img
            class="px-box shadow mx-2"
            src="https://logowik.com/content/uploads/images/amd-ryzen2321.jpg"
            alt=""
          />
          <img
            class="px-box shadow mx-2"
            src="https://logowik.com/content/uploads/images/amd-ryzen2321.jpg"
            alt=""
          />
          <img
            class="px-box shadow mx-2"
            src="https://logowik.com/content/uploads/images/amd-ryzen2321.jpg"
            alt=""
          />
          <img
            class="px-box shadow mx-2"
            src="https://logowik.com/content/uploads/images/amd-ryzen2321.jpg"
            alt=""
          />
        </div>
      </div>
    </div>