* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Balsamiq Sans;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Bold"), local("Proxima-Nova-Bold"),
    url("/src/components/app/navbar/imgnavbar/ProximaNova-Bold.woff2")
      format("woff2"),
    url("/src/components/app/navbar/imgnavbar/ProximaNova-Bold.woff")
      format("woff"),
    url("/src/components/app/navbar/imgnavbar/ProximaNova-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

.nav-front {
  color: #fff;
  background-color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;

  padding: 5px;
  margin: 0px;
}

#logoPixels {
  width: 130px;
  height: 54px;
  margin-left: 50px;
}

.secciones-link {
  padding: 20px;
  text-decoration: none;
  color: rgba(0, 128, 0, 0.85);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-left: 5px;
  margin-right: 5px;
}

.container_logos {
  text-align: right;
  margin-right: 40px;
}

.container {
  margin: 0px;
}

.front-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
}
