<h1>🎁Durante nuestra primera semana como tienda, TODO GRATIS!</h1>
<nav class="navbar">
  <a class="navbar-brand" href="index.html">
    <img
      id="logoPixels"
      src="/src/components/app/navbar/imgnavbar/LogoPixels.png"
      alt="logoPixels"
    />
  </a>

  <div id="secciones">
    <a class="secciones-link" href="index.html">Inicio</a>
    <a class="secciones-link" href="/html/productos.html">Productos</a>
    <a class="secciones-link" href="/html/quienesomos.html">Quienes Somos</a>
    <a class="secciones-link" href="/html/contacto.html">Contacto</a>
    <a class="secciones-link" href="/html/partners.html">Partners</a>
  </div>

  <div class="container_logos">
    <a class="navbar-brand" href="#">
      <img
        src="/src/components/app/navbar/imgnavbar/carrito.png"
        alt=""
        width="40"
        height="40"
      />
    </a>
    <a class="navbar-brand" href="#">
      <img
        src="/src/components/app/navbar/imgnavbar/LogoUsuario.png"
        alt=""
        width="40"
        height="40"
      />
    </a>
  </div>
</nav>
