* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Bold"), local("Proxima-Nova-Bold"),
    url("/src/components/app/navbar/imgnavbar/ProximaNova-Bold.woff2")
      format("woff2"),
    url("/src/components/app/navbar/imgnavbar/ProximaNova-Bold.woff")
      format("woff"),
    url("/src/components/app/navbar/imgnavbar/ProximaNova-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

h1 {
  color: #fff;
  background-color: black;
  font-family: Balsamiq Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;

  padding: 5px;
}

#logoPixels {
  width: 180px;
  height: 60px;
  margin-top: 0px;
  padding-top: 0px;
}

a {
  padding: 20px;
  text-decoration: none;
  color: rgba(0, 128, 0, 0.85);
  text-align: center;
  font-family: Proxima Nova;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-left: 5px;
  margin-right: 5px;
}

.container_logos {
  text-align: right;
}

.navbar {
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0px;
}
