/*
* Este archivo es el contenedor de las variables globales de css.
* Acá se declaran atributos que se repiten durante toda la hoja.
* Se utiliza con el fin de evitar por ejemplo, declarar el mismo 
* tono de color más de dos veces.
*/
:root {
  --px-primary-color: rgba(0, 73, 88, 1);
  --px-secondary-color: rgba(128, 128, 128, 1);
  --px-border-color: rgba(128, 128, 128, 1);
  --px-border-color-light: rgba(222, 226, 230, 1);
  --px-stack-color: rgba(182, 192, 199, 1);
  --px-transparent: rgba(0, 0, 0, 0);
  --px-rating-style-color: rgba(255, 214, 0, 1);
  --px-text-color: rgba(21, 37, 54, 1);
  --px-text-color-light: rgba(173, 181, 189, 1);
}
